header {
    padding: var(--vertical-padding) var(--horizontal-padding); 
    background-color: var(--light-primary-color);
}
.notification {
    display: flex;
    gap: 1em;
    font-size: calc(var(--font-size) * .9);
    max-height: 100px;
    align-items: center;
}
.notification-link {
    font-weight: bold;
}
.notification-button {
    margin-left: auto;
}
.notification-button:hover .notification-link {
    text-decoration: underline;
}
.close {
    position: absolute;
    color: #eeeeee;
    cursor: pointer;
    font-size: calc(var(--font-size) + 1vw);
    right: calc(var(--horizontal-padding) / 4);
    transition: color .1s ease;
}
.close:hover {
    color: #dddddd;
}
.close:active {
    color: #cccccc;
}
.notification-hidden {
    --vertical-padding: 0;
    max-height: 0;
    transition: max-height .2s ease, 
                padding .25s ease;
}

nav button:hover, 
nav button:focus, 
nav .btn:hover, 
nav .btn:focus, 
header button:hover,
header button:focus, 
header .btn:hover, 
header .btn:focus {
    color: var(--dark-primary-color);
}

nav {
    background-color: var(--lighter-primary-color);
    box-shadow: 0 -.1em 1em hsla(0, 0%, 0%, 0.116);
    position: sticky;
    top: 0;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: var(--vertical-padding) var(--horizontal-padding);
    width: 100%;
    z-index: 2;
}
.logo {
    height: 10vw;
    min-width: 42.3px;
    min-height: 37.2px;
    max-width: 84.6px;
    max-height: 74.4px;
}
.search-bar {
    flex: 3;
    display: flex;
    justify-content: center;
}

.search-bar.alone input{
    height: 3em;
    width: 30vw;
    border-radius: var(--border-radius);
}
nav .button-all-products {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 25%;
    max-width: fit-content;
}
.search-bar input {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    width: calc(var(--horizontal-padding) + 22vw);
    border: 1px solid transparent;
    padding: 0 3em 0 1em;
}
.search-button {
    color: black;
    width: 0;
    transform: translate3d(-2em, .3em, 0);
    top: 0;
    left: 0;
    font-size: calc(var(--font-size) * 1.4);
    cursor: pointer;
}
nav > ul {
    max-width: fit-content;
    margin-left: auto;
    flex: 1.5;
    white-space: nowrap;
    gap: 1em;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}
nav > ul li {
    cursor: pointer;
    transition: color .2s linear;
}
nav > ul li:hover {
    color: var(--dark-primary-color);
}
nav > ul li:first-child {
    flex: .7;
}
.cart {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--dark-primary-color);
    padding: 1em;
    justify-content: flex-start;
    position: absolute;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    height: calc(var(--font-size) * 20);
    width: calc(var(--font-size) * 25);
}
/* triangle */
.cart::after {
    content: "";
    position: absolute;
    right: .5em; top: calc(var(--font-size) * -1);
    border: .5em solid;
    border-color: transparent transparent white;
}
.cart-item {
    transform: translate3d(0, -5em, 0);
    display: flex;
    align-items: center;
    gap: 1em;
    height: 30%;
    border: 1px solid #dddddd;
    border-radius: var(--border-radius);
    padding: .5em;
}
.cart-item-image {
    width: 25%;
    height: 100%;
}
.cart-item-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}
.cart-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart-item-price {
    font-weight: bold;
}
.cart-control-qty {
    display: flex;
    flex-basis: 33%;
    justify-content: flex-end;
}

.minus-button, .plus-button {
    color: white;
    font-weight: bold;
    /* font-size: calc(var(--font-size) * 1.2); */
    height: 1.5em;
    width: 1.5em;
    padding: 0;
    border-radius: 0;
}
.minus-button:hover, .plus-button:hover {
    color: var(--dark-primary-color);
}
.cart-control-qty-text-box {
    height: 1.5em;
    width: 2.5em;
    text-align: center;
    border: 1px solid var(--dark-primary-color);
}
.cart-message {
    color: #aaaaaa;
    text-align: center;
}
.cart-footer {
    display: flex;
    padding: .5em;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 85%;
    z-index: 2;
}
.cart-footer button {
    color: white;
    margin-left: auto;
    padding: .7em .5em;
}
.cart-footer .price {
    font-weight: bold;
}

.closed {
    display: none;
}
.cart-items-num {
    display: inline-block;
    color: white;
    font-size: calc(var(--font-size) * .8);
    margin-left: .3em;
    font-weight: bold;
    border-radius: 50%;
    height: calc(var(--font-size) * 1.5);
    width: calc(var(--font-size) * 1.5);
    text-align: center;
    padding: calc(var(--font-size) * 0.2);
    background-color: var(--dark-primary-color);
    box-shadow: var(--box-shadow);
} /* All the calc()s makes it responsive */

@media (max-width: 20.625em) {
    .notification, nav {
        flex-direction: column;
    }
    nav > ul {
        margin: initial;
    }
    .notification-button {
        margin: 0;
    }
    .close {
        font-size: 1rem;
    }
    .button-all-products {
        width: 20vw;
    }
    .search-bar input {
        width: 40vw;
    }
    .button-all-products {
        width: 25vw;
    }
    .search-bar, .search-bar.alone {
        margin-left: initial;
    }
}