header {
    padding: var(--vertical-padding) var(--horizontal-padding); 
    background-color: var(--light-primary-color);
}
.notification {
    display: flex;
    gap: 1em;
    font-size: calc(var(--font-size) * .9);
    max-height: 100px;
    align-items: center;
}
.notification-link {
    font-weight: bold;
}
.notification-button {
    margin-left: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notification-button:hover .notification-link,
.notification-button:focus .notification-link {
    text-decoration: underline;
}
.close {
    position: absolute;
    color: #eeeeee;
    cursor: pointer;
    font-size: calc(var(--font-size) + 1vw);
    right: calc(var(--horizontal-padding) / 4);
    transition: color .1s ease;
}
.close:hover {
    color: #dddddd;
}
.close:active {
    color: #cccccc;
}
.notification-hidden {
    --vertical-padding: 0;
    max-height: 0;
    transition: max-height .2s ease, 
                padding .25s ease;
}

nav .btn-primary, 
header .btn-primary {
    --hover-bg-color: var(--light-secondary-color);
    --hover-text-color: var(--dark-primary-color);
}

nav {
    background-color: var(--lighter-primary-color);
    box-shadow: 0 -.1em 1em hsla(0, 0%, 0%, 0.116);
    position: sticky;
    top: 0;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: var(--vertical-padding) var(--horizontal-padding);
    width: 100%;
    z-index: 2;
}
.logo {
    height: 10vw;
    min-width: 42.3px;
    min-height: 37.2px;
    max-width: 84.6px;
    max-height: 74.4px;
}
.search-bar {
    flex-basis: 75%;
    position: relative;
    display: flex;
    justify-content: center;
}

nav .button-all-products {
    font-size: 1em;
    color: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 25%;
    max-width: fit-content;
}
.search-bar > input {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    width: calc(var(--horizontal-padding) + 25vw);
    border: 1px solid transparent;
    padding: 0 3em 0 1em;
}
.search-button {
    color: black;
    position: absolute;
    left: max(calc(79.5% - .01vw));
    top: .3em;
    font-size: 1.4em;
    cursor: pointer;
}

.nav-category-menu {
    overflow: hidden;
    list-style-type: none;
    background-color: var(--dark-primary-color);
    position: absolute;
    left: 0;
    height: auto;
    box-shadow: var(--box-shadow);
    transition: height .3s ease;
}
.nav-category-menu > li {
    display: block;
    padding: 1em 2em;
    cursor: pointer;
}
.nav-category-menu > li:hover {
    background-color: var(--primary-color);
}
.nav-category-menu > li + li {
    border-top: 1px solid #cccccc;
}
.shut {
    height: 0;
}

nav > ul {
    flex: 3;
    white-space: nowrap;
    gap: 1em;
    color: black;
    display: flex;
    align-items: baseline;
    list-style-type: none;
}
nav > ul button {
    font-size: 1em;
}
.cart {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--dark-primary-color);
    padding: 1em;
    justify-content: flex-start;
    position: absolute;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    height: calc(var(--font-size) * 20);
    width: calc(var(--font-size) * 25);
    transition: opacity .5s ease, 
                visibility 0s ease;
}
/* triangle */
.cart::after {
    content: "";
    position: absolute;
    right: .5em; top: calc(var(--font-size) * -1);
    border: .5em solid;
    border-color: transparent transparent white;
}
.cart-item {
    transform: translate3d(0, -7em, 0);
    display: flex;
    align-items: center;
    gap: 1em;
    height: 30%;
    border: 1px solid #dddddd;
    border-radius: var(--border-radius);
    padding: .5em;
}
.cart-item-image {
    width: 25%;
    height: 100%;
}
.cart-item-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}
.cart-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart-item-price {
    font-weight: bold;
}
.cart-control-qty {
    display: flex;
    gap: .4em;
    flex-basis: 33%;
    justify-content: flex-end;
}

.minus-button, .plus-button {
    color: var(--dark-primary-color);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0;
}
.minus-button:hover, .plus-button:hover {
    color: var(--dark-primary-color);
}
.cart-control-qty-text-box {
    width: 3em;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: none;
}
.cart-message {
    color: #aaaaaa;
    text-align: center;
}
.cart-footer {
    display: flex;
    min-height: 4em;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 85%;
    z-index: 2;
}
.cart-footer > button {
    background-color: white;
    color: inherit;
    --hover-bg-color: var(--dark-primary-color);
    --hover-text-color: white;
    margin-left: auto;
    padding: .5em;
    font-size: 1em;
}
.cart-footer .price {
    font-weight: bold;
}

.closed {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s ease .5s,
                opacity .5s ease;
}
.cart-items-num {
    display: inline-block;
    color: white;
    font-size: calc(var(--font-size) * .8);
    margin-left: .3em;
    font-weight: bold;
    border-radius: 50%;
    height: calc(var(--font-size) * 1.5);
    width: calc(var(--font-size) * 1.5);
    text-align: center;
    padding: calc(var(--font-size) * 0.2);
    background-color: var(--dark-primary-color);
    box-shadow: var(--box-shadow);
} /* All the calc()s makes it responsive */

@media (max-width: 20.625em) {
    .notification, nav {
        flex-direction: column;
    }
    nav > ul.nav-list {
        margin: initial;
    }
    .notification-button {
        margin: 0;
    }
    .close {
        font-size: 1rem;
    }
    .button-all-products {
        width: 20vw;
    }
    .search-bar > input {
        width: 40vw;
    }
    .button-all-products {
        width: 25vw;
    }
    .search-bar {
        margin-left: initial;
    }
}
@media (min-width: 90em) {
    .search-button {
        left: calc(78% - .2vw);
    }
}

.menu-toggle {
    font-size: 2em;
    position: absolute;
    left: -.6em;
    transition: all .2s ease;
}
.menu-toggle:hover {
    color: #777;
    left: -.4em;
}


.flyoutMenu {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100vw;
    box-shadow: var(--box-shadow);
    height: 100vh;
    background-color: hsla(269, 75.4%, 20%, .7);
    color: var(--lighter-primary-color);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    transform: translate3d(-100vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
}
.flyoutMenu > h2 {
    font-weight: 100;
}
.flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
}