
@import url('carousel.css');
@import url('header.css');
@import url('main.css');
@import url('all-products.css');

:root {
    box-sizing: border-box;
    --font-size: min(1vw + .51rem, 1rem);
    --horizontal-padding: 8vw;
    --vertical-padding: 1vw;
    --primary-color: hsl(269, 75.4%, 49.4%);
    --light-primary-color: hsl(269, 75.4%, 80%);
    --lighter-primary-color: hsl(269, 75.4%, 90%);
    --dark-primary-color: hsl(269, 75.4%, 20%);
    --secondary-color: hsl(351.6, 69.4%, 49.4%);
    --light-secondary-color: hsl(351.6, 69.4%, 80%);
    --dark-secondary-color: hsl(351.6, 69.4%, 20%);
    --box-shadow: 0 .5em 1em hsla(0, 0%, 0%, 0.116);
    --grey: #aaaaaa;
    --border-radius: .4em;
}


*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html, body { 
    min-height: 100vh;
    font-size: var(--font-size);
    font-family: 'Noto Sans';
    color: white;
}
.btn {
    background-color: var(--dark-primary-color);
    border: 0;
    border-radius: var(--border-radius);
    padding: .8em 1em;
    font-family: inherit;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
.btn-primary {
    transition: color .2s ease;
    position: relative;
}
.btn-primary::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--hover-bg-color);
    position: absolute;
    top: -100%;
    left: 0;
    transition: top .1s ease;
}
.btn-primary:focus, .btn-primary:hover {
    color: var(--hover-text-color);
}
.btn-transparent {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}
.button-text {
    position: relative;
    z-index: 1;
} 
.btn-primary:hover::before, 
.btn-primary:focus::before {
    top: 0;
}
p, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

input {
    font: inherit;
    box-shadow: var(--box-shadow);
}
/* remove spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: none;
}

i {
    margin: 0 .4em;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
a.btn:hover {
    text-decoration: none;
}
.right {
    float: right;
}
.small-text {
    font-size: calc(var(--font-size) * .8);
}
.center {
    text-align: center;
}

body .disabled {
    box-shadow: initial;
    cursor: initial;
    --hover-bg-color: none;
    --hover-text-color: none;
    color: gray;
}
.disabled:hover {
    color: gray;
}

body > footer {
    position: sticky;
    top: 100vh;
    text-align: center;
    color: black;
    padding: var(--vertical-padding) var(--horizontal-padding);
    background-color: var(--lighter-primary-color);
}
footer > * + * {
    margin-top: 1em;
}
footer a {
    font-size: 2em;
}
footer a:hover {
    color: #333;
}
footer a + a {
    margin-left: .5em;
}

@media (min-width: 160em) {
    :root {
        --font-size: 22px;
    }
}