@import url('carousel.css');

:root {
    box-sizing: border-box;
    --font-size: min(1vw + .3rem, 1rem);
    --horizontal-padding: 8vw;
    --vertical-padding: 1vw;
    --primary-color: hsl(269, 75.4%, 49.4%);
    --light-primary-color: hsl(269, 75.4%, 80%);
    --lighter-primary-color: hsl(269, 75.4%, 90%);
    --dark-primary-color: hsl(269, 75.4%, 20%);
    --secondary-color: hsl(351.6, 69.4%, 49.4%);
    --light-secondary-color: hsl(351.6, 69.4%, 80%);
    --dark-secondary-color: hsl(351.6, 69.4%, 20%);
    --box-shadow: 0 .5em 1em hsla(0, 0%, 0%, 0.116);
    --grey: #aaaaaa;
    --button-border-radius: .4em;
}
@media (max-width: 39em) {
    :root {
        --horizontal-padding: 5vw;
    }
}
@media (max-width: 27em) {
    :root {
        --horizontal-padding: 3vw;
    }
    span.close {
        position: initial;
    }
}
@media (max-width: 22em) {
    :root {
        --horizontal-padding: .4em;
    }
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body { 
    font-size: var(--font-size);
    font-family: 'Noto Sans';
    color: white;
}
button {
    background-color: var(--dark-primary-color);
    color: inherit;
    border: 0;
    border-radius: var(--button-border-radius);
    padding: .8em 1em;
    font: inherit;
    box-shadow: var(--box-shadow);
    transition: background-color .2s ease;
    cursor: pointer;
}
button:hover {
    background-color: var(--primary-color);
}
input {
    font: inherit;
    box-shadow: var(--box-shadow);
}
i {
    margin: 0 .4em;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}

header {
    padding: var(--vertical-padding) var(--horizontal-padding); 
    background-color: var(--light-primary-color);
}
.notification {
    display: flex;
    gap: 1em;
    font-size: calc(var(--font-size) * .9);
    max-height: 100px;
    align-items: center;
}
.notification-link {
    font-weight: bold;
}
.notification-button {
    margin-left: auto;
}
.notification-button:hover .notification-link {
    text-decoration: underline;
}
.close {
    position: absolute;
    color: #eeeeee;
    cursor: pointer;
    font-size: calc(var(--font-size) + 1vw);
    right: calc(var(--horizontal-padding) / 4);
}
.hidden {
    --vertical-padding: 0;
    max-height: 0;
    transition: max-height .2s linear,
                padding .2s linear;
}

nav {
    background-color: var(--lighter-primary-color);
    box-shadow: 0 -.1em 1em hsla(0, 0%, 0%, 0.116);
    position: sticky;
    top: 0;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: var(--vertical-padding) var(--horizontal-padding);
    width: 100%;
    z-index: 5;
}
.logo {
    width: 10vw;
    height: 10vw;
    min-width: 42.3px;
    min-height: 37.2px;
    max-width: 84.6px;
    max-height: 74.4px;
}
.searchBar {
    display: flex;
    flex: 3;
    justify-content: center;
}
button.allProducts {
    border-top-right-radius: 0;
    width: 25%;
    border-bottom-right-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.searchBar input {
    border-radius: 0 var(--button-border-radius) var(--button-border-radius) 0;
    width: calc(var(--horizontal-padding) + 22vw);
    border: 1px solid transparent;
    padding: 0 3em 0 1em;
}
.searchButton {
    color: black;
    padding: 0;
    width: 0;
    transform: translate(-2.5em);
    box-shadow: initial;
}
nav > ul {
    flex: 1.5;
    white-space: nowrap;
    gap: 1em;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}
nav > ul li:first-child {
    flex: .7;
}
.cart {
    position: absolute;
    background-color: white;
    border-radius: var(--button-border-radius);
    box-shadow: var(--box-shadow);
    right: calc(var(--horizontal-padding) - 1em);
    height: 50vh;
    width: 25vw;
}
.cartItems {
    display: inline-block;
    color: white;
    font-size: calc(var(--font-size) * .8);
    margin-left: .3em;
    font-weight: bold;
    border-radius: 50%;
    height: calc(var(--font-size) * 1.5);
    width: calc(var(--font-size) * 1.5);
    text-align: center;
    padding: calc(var(--font-size) * 0.2);
    background-color: var(--dark-primary-color);
    box-shadow: var(--box-shadow);
} /* All the calc()s makes it responsive */

@media (max-width: 20.625em) {
    .notification, nav {
        flex-direction: column;
    }
    .notification-button {
        margin: 0;
    }
    .close {
        font-size: 1rem;
    }
    .searchBar button.allProducts {
        width: 37%;
    }
    .searchBar input {
        width: 50%;
    }
}

.hero {
    padding: 4em var(--horizontal-padding);
    background: url('../images/hero_image.jpg') no-repeat;
    background-size: cover;
}
.hero > * + * {
    margin: .5em 0 0;
}
.hero-promo {
    text-transform: uppercase;
    color: var(--light-primary-color);
}
.hero-main-text {
    font-size: calc(var(--font-size) + 1.4rem);
    width: 50%;
}
.hero-side-text {
    font-weight: 300;
}
.hero-button {
    margin: 3em 0 0;
    background-image: linear-gradient(45deg, var(--light-primary-color), var(--light-secondary-color));
    color: var(--dark-secondary-color);
}
@media (min-width: 35em) {
    .hero {
        padding-top: 5em;
        padding-bottom: 5em;
    }
} @media (min-width: 50em) {
    .hero {
        padding-top: 7em;
        padding-bottom: 7em;
    }
}

main {
    color: var(--dark-primary-color);
    padding: var(--vertical-padding) var(--horizontal-padding)
}
main button {
    background-color: white;
}
section {
    margin: 2em 0;
}
.section-heading {
    margin-top: 2em;
}

.category {
    background-color: #eeeeee;
    padding: 1.5em;
    width: 20em;
    height: 15em;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}
.category > p {
    margin: .5em 0 2em;
    color: grey;
}
.category-button {
    width: max(55px, 12vw);
    font-size: calc(var(--font-size) / 1.2);
    font-weight: 550;
    margin-top: auto;
    padding: 1em;
}
.category-button:hover {
    background-color: var(--lighter-primary-color);
}

.product {
    width: calc(var(--font-size) * 17);
    box-shadow: var(--box-shadow);
    border-radius: .5em;
    padding: 1.5em;
    margin: .5em;
    min-height: 20em;
}
.product * {
    margin-bottom: 1em;
}
.product-category {
    text-transform: uppercase;
    color: var(--grey);
    font-size: calc(var(--font-size) / 1.2);
}
.product-name {
    margin: 0;
}
.rating-number {
    font-weight: bold;
}
.product-discountPrice {
    font-size: calc(var(--font-size) * 1.7);
    font-weight: bold;
}
.product-actualPrice {
    color: var(--grey);
    text-decoration: line-through;
    margin-left: 1em;
}
.fa-star {
    color: goldenrod;
    margin: 0 .2em 0 0;
}
.grey-star {
    color: #dddddd;
}
.grey {
    color: var(--grey);
}

